name: Unit tests 
on: [push]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      # Checkout repo 
      - uses: actions/checkout@v4

      # Install go 
      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.22.2'
      
      - name: Install dependencies
        run: go get .

      # Check if build works
      - name: Build
        run: go build -v ./...

      - name: Test with the Go CLI
        run: go test ./...